In [1]:
import pandas as pd
from scripts import gee_satellite_data
from scripts import gee_functions

## Download Sentinel 1 data

In [8]:
querydata = gee_satellite_data.get_gee_data("2016-02-01","2016-12-31", "data/col_t3.shp", "sentinel1", bands = ['VV'])

C:\Users\aaguilar\miniconda3\envs\gee_NOAA\lib\site-packages\pyproj\crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))

In [9]:
pd.DataFrame({'orbit': querydata.orbit, 'dates':querydata.dates})

         orbit               dates
0    ASCENDING 2016-03-26 18:13:23
1    ASCENDING 2016-05-13 18:13:30
2    ASCENDING 2016-09-10 18:13:37
3    ASCENDING 2016-02-07 18:13:28
4   DESCENDING 2016-02-14 05:42:59
5    ASCENDING 2016-03-02 18:13:28
6   DESCENDING 2016-03-09 05:42:58
7   DESCENDING 2016-04-02 05:43:00
8    ASCENDING 2016-04-19 18:13:29
9   DESCENDING 2016-04-26 05:43:00
10  DESCENDING 2016-05-20 05:43:02
11   ASCENDING 2016-06-06 18:13:32
12  DESCENDING 2016-06-13 05:43:03
13   ASCENDING 2016-06-30 18:13:33
14  DESCENDING 2016-07-07 05:43:05
15   ASCENDING 2016-07-24 18:13:34
16  DESCENDING 2016-07-31 05:43:06
17   ASCENDING 2016-08-17 18:13:36
18  DESCENDING 2016-08-24 05:43:07
19  DESCENDING 2016-09-17 05:43:08
20  DESCENDING 2016-10-11 05:43:08
21  DESCENDING 2016-11-04 05:43:08
22   ASCENDING 2016-10-10 18:12:53
23   ASCENDING 2016-11-03 18:12:52
24   ASCENDING 2016-11-27 18:12:52
25   ASCENDING 2016-12-21 18:12:51
26  DESCENDING 2016-10-17 05:42:09
27  DESCENDING 2016-11-10 05:42:09
28  DESCENDING 2016-12-04 05:42:09
29  DESCENDING 2016-12-28 05:42:08

Due to Sentinel 1 mission has two satellites (a and b), it can orbit the earth in a different orientation (Ascending and Descending), the  6 days data can be summarised averaging over a time window.

In [10]:
querydata.reduce_by_days(10)
querydata._dates_reduced

0    2016-03-29 23:58:12
1    2016-04-19 18:13:29
2    2016-04-26 05:43:00
3    2016-05-13 18:13:30
4    2016-05-20 05:43:02
5    2016-06-09 23:58:18
6    2016-06-30 18:13:33
7    2016-07-07 05:43:05
8    2016-07-27 23:58:20
9    2016-08-17 18:13:36
10   2016-08-24 05:43:07
11   2016-09-10 18:13:37
12   2016-09-17 05:43:08
13   2016-10-10 23:58:00
14   2016-10-17 05:42:09
15   2016-11-06 01:52:43
16   2016-11-27 18:12:52
17   2016-12-04 05:42:09
18   2016-12-21 18:12:51
dtype: datetime64[ns]

if the time window reduction step was completed, the code will download all the images that were calculated in that step. Otherwise, it will download the images that were acquired from the inital query

In [11]:
gee_satellite_data.download_gee_tolocal(querydata, 'gee_satellitedata/s1_processed', "col_t3", 10)

-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160329_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160419_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160426_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160513_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160520_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160609_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160630_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160707_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160727_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160817_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160824_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160910_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20160917_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20161010_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20161017_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20161106_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20161127_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20161204_col_t3_10m file was downloaded
-1 / unknownthe gee_satellitedata/s1_processed\s1_grd_20161221_col_t3_10m file was downloaded